<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.SemsApp"
          android:versionCode="1"
          android:versionName="1.0">
	<uses-sdk android:minSdkVersion="13"
	          android:targetSdkVersion="18"/>

	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
	<uses-permission android:name="android.permission.SEND_SMS"/>/
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
	<uses-permission android:name="android.permission.RECEIVE_SMS"/>
	<uses-permission android:name="android.permission.RECEIVE_MMS"/>
	<uses-permission android:name="android.permission.WAKE_LOCK"/>
	<uses-permission android:name="android.permission.VIBRATE"/>

    <application android:label="@string/app_name"
                 android:icon="@drawable/ic_launcher"
                 android:theme="@android:style/Theme.Holo.Light"
                 android:name=".application.SemsApplication">
        <activity android:name=".activity.MainActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
	    <activity android:name=".activity.AppSettingActivity"
	              android:theme="@android:style/Theme.Dialog"/>
	    <activity android:name=".activity.MachineSettingActivity"
	              android:theme="@android:style/Theme.Dialog"/>
	    <activity android:name=".activity.SettingActivity"/>
        <receiver android:name=".receiver.SmsReceiver">
	        <intent-filter>
		        <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
	        </intent-filter>
        </receiver>
	    <receiver android:name=".receiver.PseudoSmsReceiver">
		    <intent-filter>
		        <action android:name="android.provider.Telephony.PSEUDO_SMS_RECEIVED"/>
	        </intent-filter>
	    </receiver>
    </application>
</manifest>
